/* 
      General
*/
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: boxyFont;
  src: url("boxyFont.otf") format("opentype");
}

.header, .footer {
  display: none;
}

.main {
  width: 100%;
  height: 100%;
}

/* 
        Canvas 
*/
.canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.plane-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: transparent;
}

/* 
        Coordinates 
*/
.coords {
  position: absolute;
  right: 25px;
  top: 25px;
  color: black;
  font-family: boxyFont;
  letter-spacing: 1px;
  font-size: 16px;
}

.coord-x {
  margin-right: 5px;
}

/* 
        Navigation controls 
*/
.controls-img {
  position: absolute;
  height: 100px;
  right: 25px;
  bottom: 25px;
  z-index: 100;
}

/* 
        Commands 
*/
.commandbox-result {
  position: absolute;
  left: 25px;
  top: 50px;
  width: 300px;
  height: 25px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  opacity: 0;
  color: white;
  font-family: boxyFont;
  letter-spacing: 1px;
  font-size: 16px;
}

.commandbox {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 300px;
  height: 25px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  color: transparent;
  opacity: 0;
}

.commandbox:focus,
.commandbox-result:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  color: white;
  font-family: boxyFont;
  letter-spacing: 1px;
  font-size: 16px;
  opacity: 1;
}